<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saved Searches
    </ion-title>
    <ion-buttons slot="end" *ngIf="!noSavedSearchLoaded">
      <ion-button
         color="primary"
         fill="solid"
         expand="block"
         (click)="listSavedSearches()">View Saved Movies</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
  <ion-list>
    <ion-item *ngIf="noSavedSearchLoaded">
      <label>Load a saved search</label>
      <ion-buttons slot="end">
        <ion-button
           color="primary"
           fill="solid"
           expand="block"
           (click)="listSavedSearches()">View Saved Movies</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  
  <ion-list lines="none" *ngIf="savedSearchObj$ | async; let films">
    <ion-item-divider *ngIf="films.length > 0">
      {{ films.length }} results for: {{ savedSearchKey }}
      <ion-radio-group slot="end" (ionChange)="displaySavedSearchesInFollowingOrder($event)">
        <ion-item lines="none">
          <ion-label>Ascending</ion-label>
          <ion-radio value="asc"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Descending</ion-label>
          <ion-radio value="desc"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item-divider> 
    <div *ngIf="films.length > 0">
      <app-genres-list 
         [searches]="films" 
         (chosenGenre) = "filterMoviesByselectedGenre($event)"></app-genres-list>
      <app-movie *ngFor="let film of films"
        [section]="sectionType"
        [film]="film"
        [config]="config"></app-movie>
    </div>
  </ion-list>
</ion-content>
