<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favourite Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div *ngIf="!favouritesExist">
    <p>Add some favourites!</p>
  </div>


  <ion-list lines="none" *ngIf="favouritesObj$ | async; let films">
    <ion-item-divider *ngIf="films.length > 0">
      {{ films.length }} results
      <ion-radio-group slot="end" (ionChange)="displayFilmsInFollowingOrder($event)">
        <ion-item lines="none">
          <ion-label>Ascending</ion-label>
          <ion-radio value="asc"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Descending</ion-label>
          <ion-radio value="desc"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item-divider> 
    <div *ngIf="films.length > 0">
      <app-genres-list 
         [searches]="films" 
         (chosenGenre) = "filterMoviesByselectedGenre($event)"></app-genres-list>

      <app-movie *ngFor="let film of films"
        [section]="sectionType"
        [film]="film"
        [config]="config"></app-movie>
    </div>
  </ion-list>
  
</ion-content>
