<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <form [formGroup]="form">
        <ion-item>
          <ion-label position="floating">Search for a movie...</ion-label>
          <ion-input 
            type="text" 
            [formControl]="form.controls['searchTerm']"></ion-input>
          <ion-button
            slot="end"
            fill="clear" 
            class="ion-text-center" 
            expand="full" 
            [disabled]="!form.valid" 
            (click)="search()">
            <ion-icon slot="end" name="search-outline"></ion-icon>
          </ion-button>          
        </ion-item>
      </form>
    </ion-toolbar>
  </ion-header>


  <ion-list *ngIf="moviesObj$ | async; let films">
    <ion-item *ngIf="films.length > 0">
      {{ films.length }} results for: {{ searchedItem }}
      
      <app-genres-list 
         [searches]="films" 
         (chosenGenre) = "filterMoviesByselectedGenre($event)"></app-genres-list>
      <ion-button
        slot="end"
        color="primary"
        (click)="saveThisSearch()">Save this search</ion-button>
    </ion-item>
    <app-movie *ngFor="let film of films"
      [section]="sectionType"
      [film]="film"
      [config]="config"></app-movie>
  </ion-list>

</ion-content>
