<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
   <ion-title>King for a day</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="page king-for-a-day">
		<ion-row>
			<ion-col class="ion-align-items-center">
        <img src="assets/images/king-for-a-day.png" alt="King for a day">	 
			</ion-col>
		</ion-row>

		
		<ion-row>
			<ion-col size="2"></ion-col>


			<ion-col size="8">
				<h1>King for a day</h1>   	

	    		<p>How to play the game/what you need to know:</p>	
	    		<ul>
	    			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
               		<li>Curabitur non nisl sit amet arcu tempus imperdiet.</li>
               		<li>In quis efficitur felis, vel cursus ex.</li>
               		<li>Donec quis nisl et ex porttitor maximus sed in nisl.</li>
               		<li>Cras et odio vitae purus aliquam viverra.</li>
               		<li>In hac habitasse platea dictumst.</li>	
	    		</ul>

	    		<ion-button 
                    class="ion-text-center"
	    			expand="block" 
	    			color="light"
					routerLink="/home"
					routerDirection="back">
	    			Got it - let's go!
	    		</ion-button>

			</ion-col>


			<ion-col size="2"></ion-col>
		</ion-row>


	</ion-grid>
</ion-content>
