<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SoopaDoopa!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
	<ion-grid>

		<ion-row>
			<ion-col>
				<ion-button 					
				    class="ion-text-center"
					color="primary"
					(click)="restoreProductListings()">
					Restore Purchases
				</ion-button>
			</ion-col>
		</ion-row>


		<ion-row>
			<ion-col size="6">
	    		<section class="box happy-families">
	    			<img src="assets/images/happy-families.png" alt="Happy families image">
	    			<div class="description">
	    				<h1>Happy Families</h1>
	    				<div *ngIf="!happyFamilies">
	    					<p>$0.99</p>
				    		<ion-button 				    			
							    class="ion-text-center"
				    			expand="full"
				    			color="primary"
				    			(click)="determineProductsToEnable('com.saintsatplay.happyfamilies')">
				    			Purchase
				    		</ion-button>
				    	</div>


				    	<div *ngIf="happyFamilies">
				    		<p>Domestic bliss or all out war?</p>
				    		<ion-button 				    			
							    class="ion-text-center"
				    			expand="full"
				    			color="light"
				    			(click)="playGame('HappyFamilies')">
				    			Play!
				    		</ion-button>
				    	</div>

			    	</div>
	    		</section>
	    	</ion-col>


	    	<ion-col size="6">
	    		<section class="box climate-hero">
	    			<img src="assets/images/climate-hero.png" alt="Climate Hero image">
	    			<div class="description">
	    				<h1>Climate Hero</h1>
	    				<div *ngIf="!climateHero">
	    					<p>$0.99</p>
				    		<ion-button 				    			
							    class="ion-text-center"
				    			expand="full"
				    			color="primary"
				    			(click)="determineProductsToEnable('com.saintsatplay.climatehero')">
				    			Purchase
				    		</ion-button>
				    	</div>


				    	<div *ngIf="climateHero">
				    		<p>Climate friend or foe?</p>
				    		<ion-button 				    			
							    class="ion-text-center"
				    			expand="full"
				    			color="light"
				    			(click)="playGame('ClimateHero')">
				    			Play!
				    		</ion-button>
				    	</div>

			    	</div>
	    		</section>
	    	</ion-col>
	    </ion-row>


	    <ion-row>
	    	<ion-col  size="6">
	    		<section class="box alpha-male">
	    			<img src="assets/images/alpha-male.png" alt="Alpha Male image">
	    			<div class="description">
	    				<h1>Alpha Male</h1>
	    				<div *ngIf="!alphaMale">
	    					<p>$0.99</p>
				    		<ion-button 				    			
							    class="ion-text-center"
				    			expand="full"
				    			color="primary"
				    			(click)="determineProductsToEnable('com.saintsatplay.alphamale')">
				    			Purchase
				    		</ion-button>
				    	</div>


				    	<div *ngIf="alphaMale">
				    		<p>Tough enough to cut it at the top?</p>
				    		<ion-button 
							    class="ion-text-center"
				    			expand="full"
				    			color="light"
				    			(click)="playGame('AlphaMale')">
				    			Play!
				    		</ion-button>
				    	</div>

			    	</div>
	    		</section>
	    	</ion-col>

	  	
	    	
	    	<ion-col  size="6">
	    		<section class="box grand-theft-noughto">
	    			<img src="assets/images/grand-theft-noughto.png" alt="Grand Theft Noughto image">
	    			<div class="description">
	    				<h1>Grand Theft Noughto</h1>
	    				<div *ngIf="!grandTheftNoughto">
	    					<p>$0.99</p>
				    		<ion-button 
							    class="ion-text-center"
				    			expand="full"
				    			color="primary"
				    			(click)="determineProductsToEnable('com.saintsatplay.grandtheftnoughto')">
				    			Purchase
				    		</ion-button>
				    	</div>


				    	<div *ngIf="grandTheftNoughto">
				    		<p>Park, ride and play</p>
				    		<ion-button 
							    class="ion-text-center"
				    			expand="full"
				    			color="light"
				    			(click)="playGame('GrandTheftNoughto')">
				    			Play!
				    		</ion-button>
				    	</div>

			    	</div>
	    		</section>
	    	</ion-col>
	    </ion-row>


	  	<ion-row>

	    	<ion-col  size="6">
	    		<section class="box world-traveller">
	    			<img src="assets/images/world-traveller.png" alt="World Traveller image">
	    			<div class="description">
	    				<h1>World Traveller</h1>
	    				<div *ngIf="!worldTraveller">
	    					<p>$0.99</p>
				    		<ion-button 
							    class="ion-text-center"
				    			expand="full"
				    			color="primary"
				    			(click)="determineProductsToEnable('com.saintsatplay.worldtraveller')">
				    			Purchase
				    		</ion-button>
				    	</div>


				    	<div *ngIf="worldTraveller">
				    		<p>How far will you go?</p>
				    		<ion-button 
							    class="ion-text-center"
				    			expand="full"
				    			color="light"
				    			(click)="playGame('WorldTraveller')">
				    			Play!
				    		</ion-button>
				    	</div>

			    	</div>
	    		</section>
	    	</ion-col>


	    	<ion-col size="6">
	    	  <section class="box king-for-a-day">
	    			<img src="assets/images/king-for-a-day.png" alt="King for a day Male image">
	    			<div class="description">
	    				<h1>King for a Day</h1>
	    				<div *ngIf="!kingForADay">
	    					<p>$0.99</p>
				    		<ion-button 
				    			class="ion-text-center"
				    			expand="full"
				    			color="primary"
				    			(click)="determineProductsToEnable('com.saintsatplay.kingforaday')">
				    			Purchase
				    		</ion-button>
				    	</div>


				    	<div *ngIf="kingForADay">
				    		<p>Or fool for a lifetime?</p>
				    		<ion-button 
							class="ion-text-center"
				    			expand="full"
				    			color="light"
				    			(click)="playGame('KingForADay')">
				    			Play!
				    		</ion-button>
				    	</div>

			    	</div>
	    		</section>
	    	</ion-col>

	  	</ion-row>
	</ion-grid>


</ion-content>
